<head>
    <title>The Clavinova</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script type="text/javascript" src="https://moblox.co.uk/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .bnote {
        background-color: black;
    }
    .wnote {
        background-color: white;
    }
    .bnote:active {
        background-color: #222222;
    }
    .wnote:active {
        background-color: lightgreen;
    }
    </style>
    <div class="navbar-fixed">
        <nav class="blue lighten-1">
            <div class="nav-wrapper">
                <a class="brand-logo valign-wrapper" style="padding-left: 20px">
                    <span id="title" style="color: black;">The Clavinova</span>
                </a>
            </div>
        </nav>
    </div>
</head>
<body class="blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col s12 white z-depth-3">
                <h5>Connected: <span class="m cn"></span></h5>
                <h5>Function Menu: <span class="m fm"></span></h5>
                <h5>Repeat Mode: <span class="m rm"></span></h5>
                <h5>Linthesia Mode: <span class="m lm"></span></h5>
                <h5>Plus A Tenth Mode: <span class="m ptm"></span></h5>
                <h5>Plus An Octave Mode: <span class="m pom"></span></h5>
            </div>
            <div class="col s12 white darken-2 z-depth-2">
                <h6>Function Menu Codes:</h6>
                <ul style="padding-left: 40px;">
                    <li>Left Pedal - Opens function menu</li>
                    <li>A0 - All Modes Off</li>
                    <li onclick="socket.emit('mode','repeat');">A0# - Repeat Mode Toggle</li>
                    <li onclick="socket.emit('mode','linthe');">B0 - Linthesia Mode Toggle</li>
                    <li onclick="socket.emit('mode','ptenth');">C1 - Plus A Tenth Mode Toggle</li>
                    <li onclick="socket.emit('mode','poctav');">C1# - Plus An Octave Mode Toggle</li>
                    <li>C6 - Open Linthesia</li>
                    <li>C6# - Close Linthesia</li>
                    <li>B7 - Escape Key</li>
                    <li>C8 - Enter Key</li>
                    <li>Left Pedal for >2 Seconds - Toggle Debug Mode</li>
                    <li>Hold Right Pedal and Left Pedal for >2 Seconds - Close Program</li>
                </ul>
            </div>
            <div class="col s12 blue darken-4 z-depth-1 piano" style="position: relative; overflow-x: scroll; overflow-y: hidden; white-space: nowrap; height: 150px;">
                <script>
                    var sk = 21;
                    var ek = 108;
                    var j = -5;
                    for(var i = sk - 1;i < ek;i++){
                        j += 25;
                        if([1, 6].includes((i + 1) % 12)) j += 25;
                        if([1, 3, 6, 8, 10].includes((i + 1) % 12)){
                            $('.piano').append(`<div data-note="${i + 1}" class="bnote" style="cursor: pointer; width: 30px; height: 70px; margin-bottom: 30px; border: 1px solid white; text-align: center; vertical-align: bottom; display: inline-block; position: absolute; left: calc(${j}px);"></div>`);
                        } else {
                            $('.piano').append(`<div data-note="${i + 1}" class="wnote" style="cursor: pointer; width: 50px; height: 100px; border: 1px solid black; text-align: center; vertical-align: bottom; display: inline-block;"></div>`);
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    <script>
        var socket = io();
        socket.on('m', function(m){
            $('.m').text('Off');
            if(m.connect) $('.cn').text('On');
            if(m.func) $('.fm').text('On');
            if(m.repeat) $('.rm').text('On');
            if(m.linthe) $('.lm').text('On');
            if(m.ptenth) $('.ptm').text('On');
            if(m.poctav) $('.pom').text('On');
        });
        $('.piano div').on('mousedown touchstart', (e) => {
            console.log('Hi', e.target.dataset.note);
            socket.emit('message',[144, e.target.dataset.note, 80]);
        });
        $('.piano div').on('mouseup touchend touchcancel',(e) => {
            console.log('Hi', e.target.dataset.note);
            socket.emit('message',[128, e.target.dataset.note, 50]);
            socket.emit('message',[128, e.target.dataset.note, 50]);
            socket.emit('message',[128, e.target.dataset.note, 50]);
            socket.emit('message',[128, e.target.dataset.note, 50]);
        });
    </script>
</body>
<footer class="page-footer blue-grey darken-2 z-depth-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">MOBlox' ClaviSUPERNova Project</h5>
                <p class="grey-text text-lighten-4">Hi there! You can read about this project on the <a href="project">Project</a> page</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3 z-depth-3">
        <div class="container">
            © 2018 MOBlox
            <a class="grey-text text-lighten-4 right" onclick="alert('I don\'t know what should go here');">Hmmm... What's this?</a>
        </div>
    </div>
</footer>
