<head>
    <title>The Clavinova</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script type="text/javascript" src="https://moblox.co.uk/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style>
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .bnote {
        background-color: black;
    }
    .wnote {
        background-color: white;
    }
    .bnote:active {
        background-color: #222222;
    }
    .wnote:active {
        background-color: lightgreen;
    }
    </style>
    <div class="navbar-fixed">
        <nav class="blue lighten-1">
            <div class="nav-wrapper">
                <a class="brand-logo valign-wrapper" style="padding-left: 20px">
                    <span id="title" onclick="window.location.href = '/';" style="color: black;">The Clavinova</span>
                </a>
            </div>
        </nav>
    </div>
</head>
<body class="blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col s12 white darken-2 z-depth-2">
                <h6>The ClaviSUPERNova Project</h6>
                This page is a Work in Progress
            </div>
        </div>
    </div>
</body>
<footer class="page-footer blue-grey darken-2 z-depth-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">MOBlox' ClaviSUPERNova Project</h5>
                <p class="grey-text text-lighten-4">Hi there! You can read about this project on the <a href="project">Project</a> page</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-3 z-depth-3">
        <div class="container">
            © 2018 MOBlox
            <a class="grey-text text-lighten-4 right" onclick="alert('I don\'t know what should go here');">Hmmm... What's this?</a>
        </div>
    </div>
</footer>
